body{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  background-color: beige;
}

#imageminicial{
  border-radius:200%;
  height: 40%;
  width: 20%;
}

h1{
  text-align: center;
}

p{
  font-size: 125%;
  background-color: aliceblue;
}

#bio{
  padding: 20px;
  font-size: 18px;
text-align: center;
  background:beige;
}

#Microsoft a{
  font-size: 30px;
  
}
#Reconhecimento a{
  font-size: 30px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
 

}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#imagem1{
  border-radius:200%;
  height: 30%;
  width: 15%;
}

#imagem2{
  border-radius:200%;
  height: 30%;
  width: 15%;
}

#h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 200%;
}

#foto{
  border-radius: 20%;
}

#h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 200%;
}

#h5{
  font-family: 'Times New Roman', Times, serif;
  font-size: 200%;
}

#foto1{
  width: 50%;
  height: 50%;
}

#linhazinha{
  height: 10%;
  width: 1500px;
}

#historiazinha{
  font-size: 150%;
}

#novecinco{
  width: 35%;
  height: 35%;
}

#xp{
  width: 35%;
  height: 35%;
}

.pao{
  -webkit-text-fill-color: red;
}

#fotos{
  height: 60%;
  width: 30%;
}

#h6{
  font-family: 'Times New Roman', Times, serif;
  font-size: 200%;
}

#grafico{
  width: 30%;
  height: 40%;
}

#sla{
  width: 30%;
  height: 40%;
}

#slala{
  width: 30%;
  height: 40%;
}

#fill{
  font-family: 'Times New Roman', Times, serif;
  font-size: 200%;
}